*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
:root{
    --primary-color: black;
    --secondary-color: gray;
    --text-primary:rgb(255, 255, 255);
    --text-secondary: gray;
    --menu-hover-bg:rgb(49, 38, 38);
    --gradient-1:rgb(4, 0, 255);
    --gradient-2:rgb(255, 0, 0);
    --transparent-bg:rgba(243, 226, 226, 0.041);
    --card-bg:gray;
    --table-even-row:rgb(17, 16, 16);
}
/* =================common classes */
.flex{
    display: flex;
}
.align-center{
    display: flex;
    align-items: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: var(--text-primary);
}
::-webkit-scrollbar {
    display: none;
}
body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--primary-color);
    color: var(--text-primary);
}
/* ===========header=========== */
header{
    background-color: var(--transparent-bg);
    backdrop-filter: blur(50%);
}
.logo-container{
    height: fit-content;
}
header span{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3rem;
    letter-spacing: .3rem;
    color: var(--text-primary);
    text-transform: uppercase;
}
header img{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .3rem;
    animation: rotate 5s infinite ease;
    border: .2rem solid var(--text-primary);
    background-color: var(--text-primary);
    border-radius: 50%;
    position: relative;
    animation: logo 2s 4s;
}
/* ==========main============= */
/* main menu bar */
main{
    display: grid;
    grid-template-columns: 210px 220px auto;
}
nav{
    height: 88.5vh;
    background-color: var(--transparent-bg);
    backdrop-filter: blur(50%);
}
nav ol li{
    list-style: none;
    transition: .5s;
}
nav ol li a{
    font-size: 1.3rem;
    display: block;
    padding: 20px 0;
    padding-left: 5px;
    font-weight: 700;
}
nav ol li:hover{
    background-color: var(--menu-hover-bg);
    border-left: 5px solid var(--text-primary);
}
.active{
    background-color: var(--menu-hover-bg);
    border-left: 5px solid var(--text-primary);
}
nav ol li a span{
    margin-right: 5px;
}
/* sub menu bar */
aside{
    padding-top: 10px;
    height: 88.5vh;
    overflow-y: scroll;
    background-color: var(--transparent-bg);
    backdrop-filter: blur(50%);
}
aside h3{
    text-align: center;
    text-transform: uppercase;
    background: -webkit-linear-gradient(var(--gradient-1), var(--gradient-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
aside .member{
    padding: 0 0 0 10px;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}
aside .member p{
    color: var(--text-secondary);
    padding: 5px 0;
}
aside .member:hover{
    background-color: var(--menu-hover-bg);
}

/* ==========main section========= */
.main-section{
    height: 88.5vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.main-section .greeting-text{
    height: 88.5vh;
    font-size: 10rem;
    text-align: center;
    line-height: 88.5vh;
    text-transform: uppercase;
    background: -webkit-linear-gradient(var(--gradient-1), var(--gradient-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: greeting 2s ease-in-out;
    user-select: none;
}
.main-section .greeting-text span{
    border-radius: 50%;
    animation: dribbling 2s 2s ease-in-out;
    display: inline-block;
    background: -webkit-linear-gradient(var(--gradient-1), var(--gradient-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* member section */
.members-container, .committee-container, .directors-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    overflow-y: scroll;
    height: 100%;
    padding-left: 10px;
}
.members-container .member, .committee-container .member, .directors-container .member{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    margin: 10px 0;
    width: 250px;
    background-color: var(--transparent-bg);
    backdrop-filter: blur(50%);
    color: var(--text-secondary
    );
    font-family: 'Nanum Gothic', sans-serif;
}
.members-container .member img, .committee-container .member img, .directors-container .member img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
/* finance section */
.finance-container, .finance-container{
    overflow-y: scroll;
    height: 100%;
    padding-left: 10px;
}
.finance-container label{
    font-size: 2rem;
    text-align: center;
}
.finance-container table{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}
.finance-container table thead{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    font-size: 1.2rem;
}
.finance-container table tbody{
    color: var(--text-primary);
}
.finance-container table tr:nth-child(even){
    background-color: var(--table-even-row);
}
.finance-container table td{
    line-height: 2rem;
}
.finance-container table td:last-child{
    color: var(--text-secondary);
    cursor: pointer;
}

/* ============foooter========= */
footer{
    background-color: var(--transparent-bg);
    backdrop-filter: blur(50%);
    color: var(--text-primary);
    text-align: center;
}
















/* ===================animations============== */
@keyframes logo {
    from{transform: translate(100vw, 100vh);}
    to{transform: translate(0);}
}
@keyframes greeting {
    from{transform:scale(90);}
    to{transform: scale(0);}
}
@keyframes dribbling {
    0%{transform: translateY(-100px);}
    25%{transform: translateY(100px);}
    50%{transform: translateY(-50px);}
    70%{transform: translateY(0);}
    85%{transform: translateY(-50px);}
    100%{transform: translate(0);}
}